<!doctype html>
<html lang="en-GB" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    {% block header %}{% endblock %}
  </head>

  <body>
    {% block content %}{% endblock %}
  </body>

  <script src="/lib/turbo.es2017-esm.js" type="module" async></script>
</html>
